<footer class="pmd-footer bg-dark pmd-footer-dark">
    <div class="container text-center">
        <div class="mb-3">
            <a href="javascript:void(0);" class="mb-3">
                <img src="https://pro.propeller.in/assets/images/propeller-logo-white.png" alt="logo">
            </a>
        </div>
        <div class="mb-3">
            <p class="mb-0">24, North east tower, Ahmedabad.</p>
            <p class="mb-0">Contact On:</p>
            <a href="javascript:void(0);" class="primary">+91 23456 87624</a>
        </div>
        <div class="pmd-social-icons">
            <button type="button" pmdRipple pmd-btn-fab pmd-btn-raised color="light" size="sm">
                <i class="pmd-svg-icons pmd-icon-sm md-dark">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 546.773 546.773" xml:space="preserve">
                       
                        
                    </svg>
                </i>
            </button>
            <button type="button" pmdRipple pmd-btn-fab pmd-btn-raised color="light" size="sm">
                <i class="pmd-svg-icons pmd-icon-sm md-dark">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 543.684 543.684" style="enable-background:new 0 0 543.684 543.684;"
                        xml:space="preserve">
                    
                    </svg>
                </i>
            </button>
            <button type="button" pmdRipple pmd-btn-fab pmd-btn-raised color="light" size="sm">
                <i class="pmd-svg-icons pmd-icon-sm md-dark">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
                        viewBox="0 0 552.77 552.77" style="enable-background:new 0 0 552.77 552.77;"
                        xml:space="preserve">
                        
                    </svg>
                </i>
            </button>
        </div>
    </div>
</footer>