.background{
    background-color:  #054A91;
}
.container{
    display: flex;
    padding: 10px;
    justify-content: center;

}

.titulo{
    text-align: center;
}

.contenido{
    width: 200px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}

p{
    padding: 5px;
}


.fondo{
    background-image: url("https://images.ecestaticos.com/sl31XNznGPbFHiU5tyI7f6H7ODI=/0x153:3009x1845/1200x675/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd26%2F4d5%2F0c3%2Fd264d50c3ee139bb56337f60fb1f10c1.jpg");
    alt:"perro y gato" ;
    width: 100%;
}
.contenedor {
    position: relative;
    width: 100%; /* Ajusta el ancho según tus necesidades */
    
  }

  img {
    width: 100%;
    height: 100%;
    
  }

  .boton {
    position: absolute;
    top: 75%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding: 20px 60px;
    background-color: #00000073; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-size: 1em;
  }
  .text{
    position: absolute;
    top: 25%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
   
    color: white; /* Color del texto del botón */
    text-align: right;
    font-size: 2.2em;


  }

.row{
  background-color:  rgba(62, 124, 177, 1);
  text-align: center;

}

.donde 
{
  background-color: rgba(62, 124, 177, 1);;
  padding: 50px 50px;
  text-align: center;

}
.contribuir{
  text-align: center;
  color: rgb(255, 255, 255);
}
.textoacerca{
  text-align: justify;
}
.container{
  color: rgb(0, 0, 0);
  
}