.container{
    display: flex;
    padding: 10px;
    justify-content: center;
}

.titulo{
    text-align: center;
}

.contenido{
    width: 200px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}

p{
    padding: 5px;
}

.fondo{
    background-image: url("https://images.ecestaticos.com/sl31XNznGPbFHiU5tyI7f6H7ODI=/0x153:3009x1845/1200x675/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd26%2F4d5%2F0c3%2Fd264d50c3ee139bb56337f60fb1f10c1.jpg");
    alt:"perro y gato" ;
    width: 100%;
}