<div>
  <div class="row" >

    <div class="col">
      <img src="https://images.ecestaticos.com/sl31XNznGPbFHiU5tyI7f6H7ODI=/0x153:3009x1845/1200x675/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd26%2F4d5%2F0c3%2Fd264d50c3ee139bb56337f60fb1f10c1.jpg" alt="perro y gato" width="100%">
     
      <button type="button" class="btn btn-light">Ver animales en adopcion</button>
    </div>
  </div>
</div>

  <!--ADOPCION-->
  <div class="row">
    <div class="col" >
      <div class="img-thumbnail">
        <h1>
        <p class="mb-0">¿COMO ADOPTAR?</p>
        </h1>
        <h3>
      <p class="mb-0">Todos los sábados hacemos Encuentros para adoptar.</p>
        . Si querés adoptar, llamanos al +54 15 4089-3717 (NO WHATSAPP).
        <br><br>
      <p class="mb-0">Para adoptar es necesario:</p>
        . Ser mayor de 21 años.
        <br>
        . Realizar entrevistas previas.
        <br>
        . DNI y servicio a nombre del adoptante constando domicilio.
        <br>
        . Firma de contrato de adopción y seguimiento.
        </h3>
      </div>
    </div>
    <div class="col">
      <img src="https://www.vanguardia.com/binrepository/716x477/0c0/0d0/none/12204/DOHF/web_gatos_y_perro_big_ce_VL328937_MG19709708.jpg" width="50%" class="rounded mx-auto d-block" alt="adopcion beibaffi">
    </div>
  </div>

  <br><br><br><br>

  <!--¿COMO CONTRIBUIR?-->
  <div class="grid text-center" style="row-gap: 0;">
    <div class="g-col-6"><h1>¿COMO CONTRIBUIR?</h1></div>
    <div class="g-col-6"><h3>
        Adoptando, difundiendo, creando conciencia, transitando, siendo coluntario/a, participando.
        <br>
        Puenden ver opciones de donacion en la seccion "Donar", click para ir a nuestra pagina de donacion.
        <br>
        Tambien necesitamos:
        <br>
        . Balanceado de buena calidad para perros adultos y cachorros.
        <br>
        . Pipetas, antiparasitarios, curabichera, platsul.
        <br>
        . Medicamentos veterinarios, abrigos de todos los tamaños.
        <br>
        . Mantas, correas, collares, platitos.
        <br><br>
        ¡TU AYUDA SIGNIFICA MUCHO PARA NOSOTROS Y NUESTROS PERRITOS!
        <br>
        . Si querés adoptar, llamanos al +54 15 4089-3717 (NO WHATSAPP).
        <br>
        Para adoptar es necesario:
        <br>
        . Ser mayor de 21 años.
        <br>
        . Realizar entrevistas previas.
        <br>
        . DNI y servicio a nombre del adoptante constando domicilio.
        <br>
        . Firma de contrato de adopción y seguimiento.

    </h3></div>
  </div>

  <br><br><br><br>

  <!--¿DONDE NOS ENCONTRAMOS?-->
  <div class="border border-5">
    <span ><div class="g-col-6"><h1></h1></div></span>
  </div>
  
  <br><br><br><br>

  <!--ACERCA DE NOSOTROS -->
  <div class="container text-center">
    <div class="row">
      <div class="col-4">.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>

      <div class="col-6 col-sm-4">.col-6 .col-sm-4</div>
      <div class="col-6 col-sm-4">.col-6 .col-sm-4</div>
  
      <!-- Force next columns to break to new line at md breakpoint and up -->
      <div class="w-100 d-none d-md-block"></div>
  
      <div class="col-6 col-sm-4">.col-6 .col-sm-4</div>
      <div class="col-6 col-sm-4">.col-6 .col-sm-4</div>
    </div>
  </div>

  
  <br><br><br><br>

<!--CARDS-->
<div class="container">
  <div class="row">
    <h1 class="titulo">Inicio</h1>
    <div class="col">
      <div *ngFor="let i of info" class="contenido">
        <mat-card class="example-card">
          <mat-card-header>
            <!-- TÍTULO -->
            <mat-card-title>{{i.raza}}</mat-card-title>
          </mat-card-header>
          <!-- IMAGEN -->
          <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}" width="100%">
          <mat-card-content>
            <!-- DESCRIPCIÓN -->
            <p>
              {{i.descripcion}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
